.outer {
    position: absolute;
    left: 50%;
}

.inner {
    width: 50%;
    margin-left: 20%;
}

.center {
    position: absolute;
    width: 100%;
}

.about {
    position: fixed;
    margin-top: 5%;
    margin-left: 80%;
}