.outer {
    position: absolute;
    left: 50%;
}

.inner {
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}

.center {
    position: absolute;
    width: 100%;
}

.about {
    position: fixed;
    margin-top: 5%;
    margin-left: 80%;
}

.custom-alert {
    text-align: center;
    min-width: 100px;
    margin-left: 300px;
    background-color: rgb(242, 222, 222);
    color: rgb(184, 68, 100);
    font-size: 16px;
    display: inline-block;
    border: 1px solid rgb(184, 68, 100);
    border-radius: 4px;
    height: 50px;
    position: relative;
    padding: 5px;
    font-weight: bold;
}

.custom-alert span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 9px;
}

.activeRow {
    background-color: cadetblue;
    color: white;
}