<Context>
    <Resource name="jdbc/cs_4400_project_db2"
              auth="Container"
              type="javax.sql.DataSource"
              username="root"
              password="password"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/4400Project"
              maxActive="15"
              maxIdle="3" />
</Context>